html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f2f7fb;
}

form#form1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    display: block;
    padding: 2rem 0;
}

.medico-dashboard{
    padding-top: 0;
}

footer {
    background-color: #e4ecf3;
}
